/* Обнуление */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
} 
/* -------------- */

*, ::after, ::before {
  box-sizing: border-box;
}

:root {
	--project-color: white;
	--main-color: black;
}

body {
	max-width: 1600px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 50px 15px 150px 15px;
}

header > img {
	width: 350px;
}

.menu > a {
	font-size: 25px;
	margin: 0 25px 0 35px;
	font-weight: 500;
	color: var(--main-color);
	position: relative;
}

main {
	margin: 0 15px;
}

h1 {
font-family: 'Raleway', sans-serif;
font-size: 40px;
}

.main-block {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;
 margin: 50px 0;
}

.block {
	width: 32%;
	position: relative;
	margin: 10px 0 10px 0;
	aspect-ratio: 16 / 9;
}

.block-foto {
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

.block > h3 {
	position: absolute;
	color: var(--project-color);
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	left: 20px;
	bottom: 20px;
	margin-right: 10px;
} 

.cover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
}

.cover:hover {
	background: rgba(0, 0, 0, 0.2)
}

.icons-item {
	width: 50px;
}

.block:nth-of-type(4) {
	width: 66%;
	aspect-ratio: 16 / 4.4;
}

.block:nth-of-type(7) {
	width: 66%;
	aspect-ratio: 16 / 4.4;
}

footer {
	text-align: center;
}

.icons {
	display: inline-block;
	width: 100%;
}

.icons > a {
	margin-right: 20px;
}

.contacts {
	display: inline-block;
	width: 100%;
	margin: 30px 0;
	font-size: 25px;
}

.contacts > a {
	color: var(--main-color);
	margin-right: 50px;
}

.name-of-company {
	font-size: 25px;
	margin-bottom: 20px;
}

.menu > a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 3px; 
	background-color: var(--main-color);
	content: "";
	transition: 0.3s ease-out;
	}

.menu > a:hover:after {
		width: 100%;
	}

	@media screen and (max-width: 1100px) {
		header {
			flex-direction: column;
			align-items: center
		}
		.menu {
			margin-top: 50px;
			text-align: center;
		}
		h1 {
			text-align: center;
		}
		.main-block {
			margin: 50px 0;
			justify-content: center;
		}
		.block {
			width: 45%;
			margin: 10px 20px;
			text-align: left;
		}
		.block:nth-of-type(4) {
			width: 45%;
			aspect-ratio: 16 / 9;
		}
		.block:nth-of-type(7) {
			width: 45%;
			aspect-ratio: 16 / 9;
		}
	}

	@media screen and (max-width: 680px) {
		.main-block {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			margin: 0 30px;
			align-items: center;
		}
		.block {
			width: 100%;
			margin: 30px 0;
		}
		.block:nth-of-type(4) {
			width: 100%;
		}
		.block:nth-of-type(7) {
			width: 100%;
		}
		header {
			margin-left: 5px;
			margin-right: 5px;
		}
		.contacts > a {
			display: block;
			margin: 10px 0;
		}
		header > a > img {
			width: 300px;
		}
	}
	

	@media screen and (max-width: 830px) {
		.main-block {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			margin: 0 30px;
			align-items: center;
		}
		.block {
			width: 100%;
			margin: 30px 0;
		}
		.block:nth-of-type(4) {
			width: 100%;
		}
		.block:nth-of-type(7) {
			width: 100%;
		}
		header {
			text-align: center;
		}
	}